<%= form_for(@bowler) do |f| %>
  <% if @bowler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bowler.errors.count, "error") %> prohibited this bowler from being saved:</h2>

      <ul>
      <% @bowler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
