<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bowler.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @bowler.team %>
</p>

<%= link_to 'Edit', edit_bowler_path(@bowler) %> |
<%= link_to 'Back', bowlers_path %>
